#Azure Subscription Id
AZURE_SUBSCRIPTION_NAME = {AZURE_SUBSCRIPTION_NAME}
AZURE_LOCATION = {AZURE_LOCATION}

#SERVICEBUS configurations
SERVICEBUS_RELAYTYPE = NetTcp
SERVICEBUS_NAMESPACE = {RANDOM_RESOURCE_NAME}
SERVICEBUS_ENTITY_PATH = {RANDOM_RESOURCE_NAME}
SERVICEBUS_FQDN_SUFFIX = servicebus.windows.net
SERVICEBUS_SEND_KEY = {SEND_KEY}
SERVICEBUS_LISTEN_KEY = {LISTEN_KEY}
SERVICEBUS_MANAGE_KEY = {MANAGE_KEY}

