<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretEndpointBehavior">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <sharedSecret issuerName="ISSUER_NAME" issuerSecret="ISSUER_SECRET"/>
            </tokenProvider>
          </transportClientEndpointBehavior>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="noCertificateValidationEndpointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <!-- Application Binding -->
      <netTcpRelayBinding>
        <!-- Default Binding Configuration-->
        <binding name="default">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <!-- Alternate Binding Configuration #1: Disabling Client Relay Authentication -->
        <binding name="relayClientAuthenticationNone">
          <security mode="Message" relayClientAuthenticationType="None">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <!-- Alternate Binding Configuration #2: Transport With Message Credential -->
        <binding name="transportWithMessageCredential">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpRelayBinding>
    </bindings>

    <client>
      <!-- Default configuration. You must comment out the following declaration whenever 
           you want to use any of the alternate configurations below. 
         -->

      <endpoint name="RelayEndpoint"
                contract="Microsoft.ServiceBus.Samples.IEchoContract"
                binding="netTcpRelayBinding"
                bindingConfiguration="default"
                behaviorConfiguration="sharedSecretEndpointBehavior"
                address=""/>

      <!-- Alternatively use the endpoint configuration below to enable alternate configuration #1 -->
      <!--
      <endpoint name="RelayEndpoint"
              contract="Microsoft.ServiceBus.Samples.IEchoContract"
              binding="netTcpRelayBinding"
              bindingConfiguration="relayClientAuthenticationNone"      
              behaviorConfiguration="noCertificateValidationEndpointBehavior"
              address="" />
      -->

      <!-- Alternatively use the endpoint configuration below to enable alternate configuration #2 -->
      <!--
      <endpoint name="RelayEndpoint"
                contract="Microsoft.ServiceBus.Samples.IEchoContract"
                binding="netTcpRelayBinding"
                bindingConfiguration="transportWithMessageCredential"
                behaviorConfiguration="sharedSecretEndpointBehavior"
                address="" />
      -->

    </client>

    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
