<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceBus.Samples.EchoService"
               behaviorConfiguration="serviceMetadata">
        <endpoint name="RelayEndpoint"
                  contract="Microsoft.ServiceBus.Samples.IEchoContract"
                  binding="netTcpRelayBinding"
                  address=""/>
        <endpoint name="MexEndpoint"
                  contract="IMetadataExchange"
                  binding="ws2007HttpRelayBinding"
                  bindingConfiguration="mexBinding"
                  address=""/>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <bindings>
      <ws2007HttpRelayBinding>
        <binding name="mexBinding">
          <security mode="None" relayClientAuthenticationType="None"/>
        </binding>
      </ws2007HttpRelayBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceMetadata">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
