<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!-- Binding configuration-->
      <ws2007HttpRelayBinding>
        <binding name="NoSecNoAuth">
          <!-- No message or transport security. Allow unauthenticated clients. -->
          <security mode="None" relayClientAuthenticationType="None"/>
        </binding>
      </ws2007HttpRelayBinding>
    </bindings>

    <extensions>
      <bindingExtensions>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <services>
      <!-- Service configuration-->
      <service name="Microsoft.ServiceBus.Samples.EchoService">
        <endpoint name="ServiceBusEndpoint"
                  contract="Microsoft.ServiceBus.Samples.IEchoContract"
                  binding="ws2007HttpRelayBinding"
                  bindingConfiguration="NoSecNoAuth"/>        
      </service>
    </services>

  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
