<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!-- Application Binding -->
      <webHttpRelayBinding>
        <binding name="default">
          <security relayClientAuthenticationType="None"/>
        </binding>
      </webHttpRelayBinding>
    </bindings>

    <extensions>
      <bindingExtensions>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <services>
      <!-- Application Service -->
      <service name="Microsoft.ServiceBus.Samples.SyndicationService">
        <endpoint name="RelayEndpoint"
                  contract="Microsoft.ServiceBus.Samples.SyndicationContract"
                  binding="webHttpRelayBinding"
                  bindingConfiguration="default"
                  address=""/>
      </service>
    </services>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
