<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <netEventRelayBinding>
        <binding name="default"/>
      </netEventRelayBinding>
    </bindings>

    <client>
      <endpoint name="RelayEndpoint"
                contract="Microsoft.ServiceBus.Samples.IMulticastContract"
                binding="netEventRelayBinding"
                bindingConfiguration="default"
                address="http://AddressToBeReplacedInCode/"/>
    </client>

    <services>
      <service name="Microsoft.ServiceBus.Samples.MulticastService">
        <endpoint name="RelayEndpoint"
                  contract="Microsoft.ServiceBus.Samples.IMulticastContract"
                  binding="netEventRelayBinding"
                  bindingConfiguration="default"
                  address=""/>
      </service>
    </services>

    <extensions>
      <bindingExtensions>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
