<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CloudTraceServicePath" value="samples/traces"/>
    <add key="CloudTraceServiceNamespace" value="MY_SERVICE_NAMESPACE"/>
    <add key="CloudTraceIssuerName" value="MY_ISSUER_NAME"/>
    <add key="CloudTraceIssuerSecret" value="MY_ISSUER_SECRET_KEY"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0"
                         newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="CloudTrace" type="Microsoft.ServiceBus.Samples.CloudTraceListener,Microsoft.ServiceBus.Samples.CloudTraceListener"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
